<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="/diary/update/{{diary.id}}" method="post">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Edite text</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                rows="4">{{diary.text}}</textarea>
                        </div>
                        {{#if diary}}
                        <img src={{diary.imageUrl}} class="card-img-bottom" alt="image">
                        {{/if}}
                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>